@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --border-radius: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: var(--very-light-gray);
}

main {
    display: flex;
    flex-direction: column;

    width: 88%;
}

/* Sections */
section {
    padding: 45px 40px 45px 40px;
}

.first-section {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    background-color: var(--bright-orange);
}

.second-section {
    background-color: var(--dark-cyan);
}

.third-section {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    background-color: var(--very-dark-cyan);
}

/* Photo */
.car-icon {
    margin-bottom: 28px;

    width: 3.7rem;
}

/* h1, a, and p elements */

.car-type {
    margin-bottom: 25px;

    color: var(--very-light-gray);

    font-size: 2.6rem;
    font-family: "Big Shoulders Display", sans-serif;
}

.car-description {
    margin-bottom: 25px;
    

    line-height: 1.8rem;
    font-family: "Lexend Deca", sans-serif;
    color: var(--transparent-white);
}

/* Buttons */
.link {
    display: inline-block;

    margin-left: 1px;
    border-radius: 30px;
    padding: 15px 32px;

    background-color: var(--very-light-gray);

    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
}

.link:hover {
    border: 2px solid var(--very-light-gray);

    background-color: inherit;

    color: var(--very-light-gray);
}

.first-section a {
    border: 2px solid var(--bright-orange);

    color: var(--bright-orange);
}

.second-section a {
    border: 2px solid var(--dark-cyan);

    color: var(--dark-cyan);
}

.third-section a {
    border: 2px solid var(--very-dark-cyan);

    color: var(--very-dark-cyan);
}


@media only screen and (min-width: 401px) {
    main {
        position: absolute;
        flex-direction: row;

        width: 1000px;
    }

    section {
        padding: 45px 40px 45px 50px;
    }

    .first-section {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius);
    }

    .third-section {
        border-top-right-radius: var(--border-radius);
        border-bottom-left-radius: 0;
    }

    .car-icon {
        width: 4rem;
    }

    .car-type {
        font-size: 2.6rem;
    }

    .car-description {
        margin-right: 21px;
        margin-bottom: 82px;

        line-height: 1.7rem;
    }

    .link {
        border-radius: 30px;
        padding: 14px 33px;
    }

    .link:hover {
        border: 3px solid var(--very-light-gray);
    }

    .first-section a {
        border: 3px solid var(--bright-orange);
    }
    
    .second-section a {
        border: 3px solid var(--dark-cyan);
    }
    
    .third-section a {
        border: 3px solid var(--very-dark-cyan);
    }
}